{
  "extends": [
    "next",
    "prettier",
    "next/babel","next/core-web-vitals"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "printWidth": 80,
        "singleQuote": false,
        "trailingComma": "es5",
        "semi": false,
        "tabWidth": 2
      }
    ]
  }
}
